* {
	box-sizing: border-box;
}

.header, .footer {
	color: white;
	background-color: gray;
	padding: 15px;
	margin: 10px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.column {
	float: left;
	padding: 10px;
}

.menu {
	width: 25%;
}

.content {
	width: 75%;
}

.menu ul {
	list-style-type: none;
	padding: 10px;
	margin: 0;
}

.menu li {
	padding: 10px;
	margin-bottom: 8px;
	color: white;
	background-color: #72CCE6;
	transition: background-color 1s;
}

.menu li:hover {
	background-color: red;	
}