.theme-music {
	padding-bottom: 10px;
	font-family: sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	background-image: url(./cover.png);
	background-size: cover;
	background-position: center;
	height: 125px;
	display: flex;
}

.theme-music .overlay {
	color: #fff;
	flex-grow: 1;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background: rgb(245,9,9);
    background: linear-gradient(94deg, rgba(245,9,9,1) 0%, rgba(228,19,19,0.008841036414565795) 62%, rgba(249,243,243,0) 100%);
    font-size: 30px;
}