.title-bar-main {
	padding: 10px 275px;
	display: flex;
	background-color: #000;
	color: #fff;
	font-family: sans-serif;
	font-size: 30px;
	align-items: center;
}

.title-bar-main .icon-zing {
	flex-grow: 1;
	background-image: url(./cover.png);
}

.title-bar-main .search {
	display: flex;
}

.title-bar-main .search .input, .title-bar-main .search .icon-search {
	flex-grow: 1;
}

.title-bar-main .search .input {
}

.title-bar-main .search .icon-search {
	background-color: #fff;
	color: #000;
}

.title-bar-main .option {
	flex-grow: 1;
	display: flex;
	font-size: 20px;
}

.title-bar-main .option .option1, .title-bar-main .option .option2, .title-bar-main .option .option3{
	padding: 8px;
}

.title-bar-main .option .option1 {
	color: #A015D3;
}
.title-bar-main .center-title-bar-main {
	flex-grow: 10;
	display: flex;
}